<p>I made this page at <%= Time.now %>!</p>

<p>You will not see anything after this colon: <% Time.now %></p>

<ul>
	<% (1..10).each do |n| %>
		<li><a href="http://en.wikipedia.org/wiki/" <%= n %>_(number)

		</li>
	<% end %>
</ul>

<p> Let's checkout a deck of playing cards <p>

<ul>
	<li> <img src= "Deck/Spades/2S.svg">
		<img src= "Deck/Spades/3S.svg">
		<img src= "Deck/Spades/4S.svg">
		<img src= "Deck/Spades/5S.svg">
		<img src= "Deck/Spades/6S.svg">
		<img src= "Deck/Spades/7S.svg">
		<img src= "Deck/Spades/8S.svg">
		<img src= "Deck/Spades/9S.svg">
		<img src= "Deck/Spades/10S.svg">
		<img src= "Deck/Spades/JS.svg">
		<img src= "Deck/Spades/QS.svg">
		<img src= "Deck/Spades/KS.svg">
		<img src= "Deck/Spades/AS.svg">

	
	</li>


</ul>

<p> Here are the Hearts </p>

<ul>
	<li> <img src= "Deck/Hearts/2H.svg">
		 <img src= "Deck/Hearts/3H.svg">
		 <img src= "Deck/Hearts/4H.svg">
		 <img src= "Deck/Hearts/5H.svg">
		 <img src= "Deck/Hearts/6H.svg">
		 <img src= "Deck/Hearts/7H.svg">
		 <img src= "Deck/Hearts/8H.svg">
		 <img src= "Deck/Hearts/9H.svg">
		 <img src= "Deck/Hearts/10H.svg">
		<img src= "Deck/Hearts/JH.svg">
		<img src= "Deck/Hearts/QH.svg">
		<img src= "Deck/Hearts/KH.svg">
		<img src= "Deck/Hearts/AH.svg">
	</li>
<ul>

<ul>
	<li> <img src= "Deck/Clubs/2C.svg">
		 <img src= "Deck/Clubs/3C.svg">
		 <img src= "Deck/Clubs/4C.svg">
		 <img src= "Deck/Clubs/5C.svg">
		 <img src= "Deck/Clubs/6C.svg">
		 <img src= "Deck/Clubs/7C.svg">
		 <img src= "Deck/Clubs/8C.svg">
		 <img src= "Deck/Clubs/9C.svg">
		 <img src= "Deck/Clubs/10C.svg">
		<img src= "Deck/Clubs/JC.svg">
		<img src= "Deck/Clubs/QC.svg">
		<img src= "Deck/Clubs/KC.svg">
		<img src= "Deck/Clubs/AC.svg">
	</li>
<ul>

<ul>
	<li> <img src= "Deck/Diamonds/2D.svg">
		 <img src= "Deck/Diamonds/3D.svg">
		 <img src= "Deck/Diamonds/4D.svg">
		 <img src= "Deck/Diamonds/5D.svg">
		 <img src= "Deck/Diamonds/6D.svg">
		 <img src= "Deck/Diamonds/7D.svg">
		 <img src= "Deck/Diamonds/8D.svg">
		 <img src= "Deck/Diamonds/9D.svg">
		 <img src= "Deck/Diamonds/10D.svg">
		<img src= "Deck/Diamonds/JD.svg">
		<img src= "Deck/Diamonds/QD.svg">
		<img src= "Deck/Diamonds/KD.svg">
		<img src= "Deck/Diamonds/AD.svg">
	</li>
<ul>





